
<div class="banner-agile">
    <div class="container">
        <h2>WELCOME TO</h2>
        <h3>FASHION <span>CLUB</span></h3>
        <p>Suspendisse sed tellus id libero pretium interdum. Suspendisse potenti. Quisque consectetur elit sit amet vehicula tristique. </p>
        <a href="about.html">Read More</a>
    </div>
</div>
<div class="top-brands">
    <div class="container">
        <h2>Top Bestseller</h2><br /><br />
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                <li>
                    <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/images/product2.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/images/product3.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/images/product4.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //top-brands -->
<div class="banner-bootom-w3-agileits w3-centered intro">
    <h2>Lightning Bolt</h2><br />
    <h1>CAST A HEAVY SHADOW WITH THE DARK ENERGY COLLECTION</h1><br />
    <div class="container">
        <div class="col-md-4 bb-grids bb-left-agileits-w3layouts">
            <a href="#">
                <img src="~/images/back2.jpg">
                <span>
                    <h1>The Mission</h1>
                    <p>NEW FEATURES & FUNCTIONS</p>
                    <p>FOR ANDROID & IPHONE</p>
                </span>
            </a>
        </div>
        <div class="col-md-4 bb-grids bb-left-agileits-w3layouts">
            <a href="#">
                <img src="~/images/back3.jpg">
                <span>
                    <h1>Last Lane</h1>
                    <p>THE SPEEDSTER II COLLECTION, FEATURING</p>
                    <p>THE SENTRY CHRONO</p>
                </span>
            </a>
        </div>
        <div class="col-md-4 bb-grids bb-left-agileits-w3layouts">
            <a href="#">
                <img src="~/images/back4.jpg">
                <span>
                    <h1>In Living Color</h1>
                    <p>FOR THE STYLE MAVEN WHO LIKES TO </p>
                    <p>SURPRISE</p>
                </span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="top-products">
    <div class="container">
        <h4>NIXON ESSENTIALS</h4>
        <br />
        <h3>Focused on making the little stuff better, we’re driven to create custom built products that reflect </h3>
        <h3>our unique point of view, our heritage, our style, and we don’t stop until we get it right.</h3>
        <br />
        <div class="sap_tabs">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"><span>Men's</span></li>
                    <li class="resp-tab-item"><span>Women</span></li>
                    <li class="resp-tab-item"><span>Handbags</span></li>
                    <li class="resp-tab-item"><span>Cosmetics</span></li>
                </ul>
                <div class="clearfix"> </div>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
                            <a href="single.html">
                                <div class="product-img">
                                    <img src="~/images/product1.jpg" alt="" />
                                    <div class="p-mask">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="w3ls1_item" value="Formal shoes" />
                                            <input type="hidden" name="amount" value="220.00" />
                                            <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </a>
                            <h4>MISSON, 48<span>MM</span></h4>
                            <h5>$220.00 | 3 Colors</h5>
                        </div>
                        <div class="col-md-3 top-product-grids tp2">
                            <a href="single.html">
                                <div class="product-img">
                                    <img src="~/images/product2.jpg" alt="" />
                                    <div class="p-mask">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="w3ls1_item" value="Formal shirt" />
                                            <input type="hidden" name="amount" value="190.00" />
                                            <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </a>
                            <h4>ULTRATIDE, 45<span>MM</span></h4>
                            <h5>$300.00 | 10 Colors</h5>
                        </div>
                        <div class="col-md-3 top-product-grids tp3">
                            <a href="single.html">
                                <div class="product-img">
                                    <img src="~/images/product3.jpg" alt="" />
                                    <div class="p-mask">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="w3ls1_item" value="Blazer" />
                                            <input type="hidden" name="amount" value="160.00" />
                                            <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </a>
                            <h4>TIME LETTER ACETATE, 40<span>MM</span></h4>
                            <h5>$150.00 | 22 Colors</h5>
                        </div>
                        <div class="col-md-3 top-product-grids tp4">
                            <a href="single.html">
                                <div class="product-img">
                                    <img src="~/images/product4.jpg" alt="" />
                                    <div class="p-mask">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="w3ls1_item" value="Casual shoes" />
                                            <input type="hidden" name="amount" value="250.00" />
                                            <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </a>
                            <h4>KENSINGTION, 37<span>MM</span></h4>
                            <h5>$175.00 | 3 Colos</h5>
                        </div>
                        <div class="clearfix"></div>
                        <div class="top-products-set2">
                            <div class="col-md-3 top-product-grids tp5">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product4.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Inner wear" />
                                                <input type="hidden" name="amount" value="50.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>KENSINGTION, 37<span>MM</span></h4>
                                <h5>$175.00 | 3 Colos</h5>
                            </div>
                            <div class="col-md-3 top-product-grids tp6">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product3.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Shoes" />
                                                <input type="hidden" name="amount" value="150.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>TIME LETTER ACETATE, 40<span>MM</span></h4>
                                <h5>$150.00 | 22 Colors</h5>
                            </div>
                            <div class="col-md-3 top-product-grids tp7">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product2.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Formal shirt" />
                                                <input type="hidden" name="amount" value="100.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>MISSON, 48<span>MM</span></h4>
                                <h5>$220.00 | 3 Colors</h5>
                            </div>
                            <div class="col-md-3 top-product-grids tp4">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product1.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Watch" />
                                                <input type="hidden" name="amount" value="200.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>MISSON, 48<span>MM</span></h4>
                                <h5>$220.00 | 3 Colors</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-bootom-w3-agileits w3-centered intro">
    <div class="container">
        <div class="col-md-6 bb-grids bb-left-agileits-w3layouts">
            <a href="#">
                <img src="~/images/back5.jpg" class="img-intro2 pull-right">
                <span>
                    <h1>The Coffin Brothers</h1>
                    <p>MEN’S SPRING LOOKBOOK</p>
                </span>
            </a>
        </div>
        <div class="col-md-6 bb-grids bb-left-agileits-w3layouts">
            <a href="#">
                <img src="~/images/back6.jpg" class="img-intro2">
                <span>
                    <h1>Topanga</h1>
                    <p>WOMEN’S SPRING LOOKBOOK</p>
                </span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container back-big">
        <div class="col-md-12 bb-grids bb-middle-agileits-w3layouts">
            <a href="#">
                <img src="~/images/back7.png">
                <span>
                    <h1>North Shore</h1>
                    <p>THE WEIRD</p>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="fandt">
    <div class="container">
        <div class="col-md-6 features">
            <h3>Our Services</h3>
            <div class="support">
                <div class="col-md-2 ficon hvr-rectangle-out">
                    <i class="fa fa-user " aria-hidden="true"></i>
                </div>
                <div class="col-md-10 ftext">
                    <h4>24/7 online free support</h4>
                    <p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="shipping">
                <div class="col-md-2 ficon hvr-rectangle-out">
                    <i class="fa fa-bus" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 ftext">
                    <h4>Free shipping</h4>
                    <p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="money-back">
                <div class="col-md-2 ficon hvr-rectangle-out">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 ftext">
                    <h4>100% money back</h4>
                    <p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-5 testimonials">
            <div class="test-inner">
                <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".3s">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 80%; opacity: 0;">
                            <div class="banner-wrap">
                                <img src="~/images/size1.jpg" alt=" " class="img-responsive" />
                                <p>0 MM - 31 MM</p>
                                <h4># SMALL</h4>
                            </div>
                        </article>
                        <article style="position: absolute; width: 80%; opacity: 0;">
                            <div class="banner-wrap">
                                <img src="~/images/size2.jpg" alt=" " class="img-responsive" />
                                <p>32 MM - 41 MM</p>
                                <h4># MEDIUM</h4>
                            </div>
                        </article>
                        <article style="position: absolute; width: 80%; opacity: 0;">
                            <div class="banner-wrap">
                                <img src="~/images/size3.jpg" alt=" " class="img-responsive" />
                                <p>42 MM - 47 MM</p>
                                <h4># LARGE</h4>
                            </div>
                        </article>
                        <article style="position: absolute; width: 80%; opacity: 0;">
                            <div class="banner-wrap">
                                <img src="~/images/size4.jpg" alt=" " class="img-responsive" />
                                <p>48 MM - 52 MM</p>
                                <h4># X-LARGE</h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


