<div class="container">
    <div class="col-md-2 logo-w3">
        <a href="index.html"><img src="~/images/icon.png" alt="logo pixel" /><h1>PIXEL<span>SHOP</span></h1></a>
    </div>

    <div class="col-md-7 navigation-agileits">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="/Home" class="hyper"><span>Trang chủ</span></a></li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Đồng hồ<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">

                                        <li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ nữ</a></li>
                                        <li><a href="men.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ nam</a></li>
                                        <li><a href="kids.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ trẻ em</a></li>
                                        <li><a href="party.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ khác</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="casuals.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ thể thao</a></li>
                                        <li><a href="night.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ hiện đại</a></li>
                                        <li><a href="formals.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ điện tử</a></li>
                                        <li><a href="inner.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Đồng hồ thông minh</a></li>

                                    </ul>
                                </div>
                                <div class="col-sm-4 w3l">
                                    <a href="women.html"><img src="~/images/back5.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Hãng sản xuất <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi multi1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Casio </a></li>
                                        <li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Nixon</a></li>
                                        <li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Xiaomi</a></li>
                                        <li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fitbit</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-4">

                                    <ul class="multi-column-dropdown">
                                        <li><a href="haircare.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Pebble </a></li>
                                        <li><a href="shoes.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Apple</a></li>
                                        <li><a href="handbags.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Samsung</a></li>
                                        <li><a href="skincare.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Garmin</a></li>

                                    </ul>

                                </div>
                                <div class="col-sm-4 w3l">
                                    <a href="jewellery.html"><img src="/images/back6.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="/About" class="hyper"><span>Giới thiệu</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>Liên hệ</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-3 search-agileinfo pull-right">
        <form action="#" method="post">
            <input type="search" name="Search" placeholder="Tìm kiếm" required="">
            <button type="submit" class="btn btn-default search" aria-label="Left Align">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
