/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,
i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;

}

/*lichsumuahang*/

.lichsudonhangdamua{
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.caption small{
    font-size: 12px;
    float:right;
    text-transform:uppercase;
    margin: 5px;
}

.caption a{
    text-decoration:none;
    color:white;
    cursor:pointer;
}

.caption{
    width: 100%;
    text-transform:uppercase;
}

.portlet.box.yellow-crusta{
    border: 1px solid #ffd327;
    border-top: 0;
}

.portlet.box.yellow-crusta > .portlet-title {
  background-color: #1BBC9B;
}

.portlet.box.yellow-crusta > .portlet-title > .caption {
  color: #FFFFFF;
}
.portlet.box.yellow-crusta > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.box.yellow-crusta > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #ffe064;
  color: #ffe57e;
}
.portlet.box.yellow-crusta > .portlet-title > .actions .btn-default > i {
  color: #ffe88d;
}
.portlet.box.yellow-crusta > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-crusta > .portlet-title > .actions .btn-default:focus, .portlet.box.yellow-crusta > .portlet-title > .actions .btn-default:active, .portlet.box.yellow-crusta > .portlet-title > .actions .btn-default.active {
  border: 1px solid #ffea97;
  color: #ffefb1;
}

.portlet.light {
  padding: 12px 20px 15px 20px;
  background-color: #fff;
}
.portlet.light.bordered {
  border: 1px solid #e1e1e1 !important;
}
.portlet.light.bordered > .portlet-title {
  border-bottom: 1px solid #eee;
}
.portlet.light.bg-inverse {
  background: #F7F7F7;
}
.portlet.light > .portlet-title {
  padding: 0;
  min-height: 48px;
}
.portlet.light > .portlet-title > .caption {
  color: #666;
  padding: 10px 0;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
  font-size: 16px;
}
.portlet.light > .portlet-title > .caption > i {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
}
.portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
  font-size: 15px;
}
.portlet.light > .portlet-title > .caption.caption-md > i {
  font-size: 14px;
}
.portlet.light > .portlet-title > .actions {
  padding: 6px 0 14px 0;
}
.portlet.light > .portlet-title > .actions .btn-default {
  color: #666;
}
.portlet.light > .portlet-title > .actions .btn-icon-only {
  height: 27px;
  width: 27px;
}
.portlet.light > .portlet-title > .actions .dropdown-menu li > a {
  color: #555;
}
.portlet.light > .portlet-title > .inputs {
  float: right;
  display: inline-block;
  padding: 4px 0;
}
.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
  font-size: 14px;
  margin-top: 9px;
}
.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > .form-control {
  height: 30px;
  padding: 2px 26px 3px 10px;
  font-size: 13px;
}
.portlet.light > .portlet-title > .inputs > .portlet-input > .form-control {
  height: 30px;
  padding: 3px 10px;
  font-size: 13px;
}
.portlet.light > .portlet-title > .pagination {
  padding: 2px 0 13px 0;
}
.portlet.light > .portlet-title > .tools {
  padding: 10px 0 13px 0;
  margin-top: 2px;
}
.portlet.light > .portlet-title > .nav-tabs > li {
  margin: 0;
  padding: 0;
}
.portlet.light > .portlet-title > .nav-tabs > li > a {
  margin: 0;
  padding: 12px 13px 13px 13px;
  font-size: 13px;
  color: #666;
}
.portlet.light > .portlet-title > .nav-tabs > li.active > a, .portlet.light > .portlet-title > .nav-tabs > li:hover > a {
  margin: 0;
  background: none;
  color: #333;
}
.portlet.light.form-fit {
  padding: 0;
}
.portlet.light.form-fit > .portlet-title {
  padding: 17px 20px 10px 20px;
  margin-bottom: 0;
}
.portlet.light .portlet-body {
  padding-top: 8px;
}
.portlet.light.portlet-fullscreen > .portlet-body {
  padding: 8px 0;
}

.tab-pane > p:last-child {
  margin-bottom: 0px;
}

.static-info {
  margin-bottom: 10px;
}
.static-info .name {
  font-size: 14px;
}
.static-info .valueS {
  font-size: 14px;
  font-weight: 600;
}
.static-info.align-reverse .name, .static-info.align-reverse .valueS {
  text-align: right;
}

.portlet.light .portlet-body {
  padding-top: 8px;
}

.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet > .portlet-body {
  clear: both;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.portlet {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.portlet.box > .portlet-title > .caption {
  padding: 11px 0 9px 0;
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;

  padding: 10px 0;
}

.portlet.box > .portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}

.portlet.box.yellow-crusta {
  border: 1px solid #1BBC9B;
  border-top: 0;
}

.portlet > .portlet-body.yellow-crusta,
.portlet.yellow-crusta {
  background-color: #1BBC9B;
}

.portlet.box.yellow-crusta > .portlet-title > .caption > i {
  color: #FFFFFF;
}

.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 4px;
  display: inline-block;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.static-info.col-md-5{
    font-size: 14px;
    width:auto;
    position:relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.static-info.col-md-7{
    font-size: 14px;
    width:auto;
    font-weight: 600;
    position:relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}

.headerinfo{
    margin-bottom: 5%;
    margin-top:5%;
}

.headerinfo h4{
    margin-top:2%;
}

.headerinfo h2{
    text-transform:uppercase;

}

/*end - lichsumuahang*/


/*chitietlichsu*/

.chitietinfo{
    margin-bottom: 5%;
    margin-top:5%;
}

.chitietinfo h4{
    margin-top:2%;
}

.chitietinfo h2{
    text-transform:uppercase;

}

.portlet.box.grey-cascade {
  border: 1px solid #b1bdbd;
  border-top: 0;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #ddd;
}

.portlet.box.grey-cascade > .portlet-title > .caption {
  color: #FFFFFF;
}

.portlet.box > .portlet-title > .caption {
  padding: 11px 0 9px 0;
}

.portlet.box.grey-cascade > .portlet-title > .caption > i {
  color: #FFFFFF;
}

.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet.box > .portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}

.portlet.light .portlet-body {
  padding-top: 8px;
}

.portlet > .portlet-body.grey-cascade,
.portlet.grey-cascade {
  background-color: #95A5A6;
}


.portlet.box {
  padding: 0px !important;
}

.portlet.box.grey-cascade > .portlet-title {
  background-color: #95A5A6;
}

.chitietlichsu{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

}

/*end - chitietlichsu*/

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html, body{

    

}

.content-payment-success img{
    width:50%;
}

.content-payment-success{
    padding: 5%;
    text-align:center;
}
.content-payment-success p, h3{
    line-height: 30px;
}
h1,h2,h3,h4,h5,h6,input,p,a,select,button{

	margin:0;

}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
/*-- main --*/
.agileits_copyright{
	text-align: center;
	margin-top:2em;
}
.agileits_copyright p{
	font-size: 1em;
    color:#fff;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
}
.agileits_copyright p a {
    color:#1adeed;
    text-decoration: underline;
}
.agileits_copyright p a:hover{
	color:#fff;
}
input[type="submit"],.agileits_copyright p a,a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.main{
        background-attachment: fixed;
        background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	padding:3em 0;
}
.main h1{
	text-align: center;
    color: #fff;
    font-size:2.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
	margin-bottom: .8em;
}
/*-- //main --*/
.w3_agile_main_grids{
	width:60%;
	margin:0 auto;
}
.w3layouts_main_grid_left{
	float:left;
	width:40%;
}
.agileits_main_grid_right{
	float: right;
    width: 60%;
    min-height: 555px;
    background: #fff;
}
.agileinfo_main_grid_left_grid{
	padding:2em;
	background:rgba(0, 0, 0, 0.4);
}
.wthree_payment_grid{
	padding:2em;
}
.wthree_payment_grid h2{
	font-size:1.6em;
	color:#f71926;
	margin-bottom:1em;
}
.w3_agileits_card_number_grid_left,.w3_agileits_card_number_grid_right{
	float:left;
	width:48%;
}
.w3_agileits_card_number_grid_right{
	float:right !important;
}

.agileits_w3layouts_tab2 input{
    height: 50px;
}

.agileits_w3layouts_tab2 h3{
	font-size:1.2em;
	color:#212121;
	margin-bottom: 2em;
}
.agileits_w3layouts_tab2 h3 a{
	text-decoration:underline;
	color:#f71926;
}
.agileits_w3layouts_tab2 h3 a:hover{
	color:#212121;
}
.agileits_w3layouts_tab2 input[type="email"],.agileits_w3layouts_tab2 input[type="password"],.creditly-wrapper .form-control{
	display: block;
    width: 95.5%;
    padding: 15px 10px;
    font-size: 14px;
    color: #212121;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
	outline:none;
}
.agileits_w3layouts_tab2 input[type="email"]:focus,.agileits_w3layouts_tab2 input[type="password"]:focus,.creditly-wrapper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.security-code,.number{
	width:91% !important;
}
.agileits_w3layouts_tab2 input[type="submit"] {
    display: block;
    position: relative;
    padding: 0px 50px 0px 50px;
    background: #1adeed;
    font-size: 1.5em;
    color: #fff;
    border: 1px solid #1adeed;
    outline: none;
    text-transform: uppercase;
	cursor:pointer;
}
.agileits_w3layouts_tab2 input[type="submit"]:hover{
	background: #e44332;
    color: #fff;
	border: 1px solid #e44332;
}
.agileinfo_main_grid_left_grid h3{
	font-size:1.3em;
	color:#fff;
}
.agileinfo_main_grid_left_grid ul{
	margin-top:1.5em;
}
.agileinfo_main_grid_left_grid ul li{
	display: inline-block;
    color: #fff;
    font-weight: bold;
    line-height:1.5em;
    font-size: 1.2em;
    vertical-align: top;
}
.agileinfo_main_grid_left_grid ul li span{
	display:block;
	font-size:.8em;
	color:#999;
}
.agileinfo_main_grid_left_grid ul li:first-child{
	width: 80%;
	border-right:1px solid #999;
}
.agileinfo_main_grid_left_grid ul li:last-child{
	padding-left:1em;
	text-align:right;
}
.agile_amount{
	padding:1em 2em;
	background:#f71926;
}
.agile_amount h3{
	font-size:1.3em;
	color:#fff;
}
.agile_amount h4{
	font-size:2em;
    line-height:2em;
	color:#fff;
	font-weight:bold;
}
.agile_amount p{
	font-size:1em;
	color:#1adeed;
	line-height:1.8em;
}
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.w3_agile_main_grids {
		width: 70%;
	}
}
@media (max-width:1280px){
	.agileinfo_main_grid_left_grid ul li {
		font-size: 1.7em;
	}
	.agileits_main_grid_right {
		min-height: 521px;
	}
	.wthree_payment_grid {
		padding: 1em 2em 0;
	}
	.security-code, .number {
		width: 90% !important;
	}
}
@media (max-width: 1080px){
	.w3_agile_main_grids {
		width: 90%;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control{
		width: 95.8%;
	}
	.security-code, .number {
		width: 91.5% !important;
	}
}
@media (max-width: 1024px){
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control{
		width: 95.5%;
	}
	.security-code, .number {
		width: 90.5% !important;
	}
}
@media (max-width: 991px){
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 95%;
	}
	.security-code, .number {
		width: 90% !important;
	}
}
@media (max-width: 800px){
	.w3layouts_main_grid_left,.agileits_main_grid_right {
		float: none;
		width: 100%;
	}
	.agileits_main_grid_right{
		min-height:auto;
	}
	.wthree_payment_grid {
		padding: 2em;
	}
	.w3_agile_main_grids {
		width: 70%;
	}
	.main h1 {
		font-size: 3em;
	}
	.agileinfo_main_grid_left_grid ul li:last-child {
		padding-left: 4em;
	}
	.agileinfo_main_grid_left_grid ul li:first-child {
		width: 60%;
	}
	.agileits_w3layouts_tab2 input[type="submit"] {
		font-size: 1.3em;
	}
}
@media (max-width: 736px){
	.main {
		padding: 2em 0;
	}
}
@media (max-width: 667px){
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control{
		width: 94.5%;
	}
	.security-code, .number {
		width: 89% !important;
	}
}
@media (max-width: 640px){
	.main h1 {
		font-size: 2.7em;
	}
	.w3_agile_main_grids {
		width: 75%;
	}
}
@media (max-width: 600px){
	.agileinfo_main_grid_left_grid ul li:first-child {
		width: 58%;
	}
	.security-code, .number {
		width: 88% !important;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control{
		width: 94%;
	}
}
@media (max-width: 568px){
	.w3_agile_main_grids {
		width: 80%;
	}
}
@media (max-width: 480px){
	.main h1 {
		font-size: 2.5em;
	}
	.agileinfo_main_grid_left_grid,.wthree_payment_grid {
		padding: 1.5em;
	}
	.agileinfo_main_grid_left_grid ul li {
		font-size: 1.5em;
	}
	.agileinfo_main_grid_left_grid ul li:last-child {
		padding-left: 3em;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control{
		width: 93%;
	}
	.security-code, .number {
		width: 86% !important;
	}
}
@media (max-width: 414px){
	.main h1 {
		font-size: 2.3em;
	}
	.agileinfo_main_grid_left_grid ul li:last-child {
		padding-left: 2em;
	}
	.agileinfo_main_grid_left_grid ul li {
		font-size: 1.3em;
	}
	.agileinfo_main_grid_left_grid h3,.agile_amount h3,.wthree_payment_grid h2 {
		font-size: 1.1em;
	}
	.agile_amount h4 {
		font-size: 1.7em;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 92% !important; 
		padding: 12px 10px;
		margin-bottom: 15px;
	}
	.w3_agileits_card_number_grid_left, .w3_agileits_card_number_grid_right {
		float: none;
		width: 100%;
	}
	.agileits_w3layouts_tab2 h3 {
		font-size: 1em;
	}
}
@media (max-width: 384px){
	.w3_agile_main_grids {
		width: 90%;
	}
	.agileits_w3layouts_tab2 input[type="submit"] {
		font-size: 1.1em;
		letter-spacing: 2px;
	}
}
@media (max-width: 375px){
	.main h1 {
		font-size: 2em;
	}
}
@media (max-width: 320px){
	.main h1 {
		letter-spacing: 1px;
	}
	.agileinfo_main_grid_left_grid ul li:first-child {
		width: 66%;
	}
	.agileinfo_main_grid_left_grid ul li:last-child {
		padding-left: 1.5em;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 90.5% !important;
	}
}