<div class="account-in">
    <div class="container">
        <div class="check_box">
            <div class="col-md-9 cart-items">
                <h1 class="label-shopping-bag">Giỏ hàng (2)</h1>
              
                <div class="cart-header">
                    <div class="close-checkout-1"> </div>
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src="~/images/m3.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="cart-item-info">
                            <h3><a href="#">Apple Watch(Gen 1)</a><span>Model No: 3578</span></h3>
                            <ul class="qty">
                                <li><p>Kích cỡ : 5</p></li>
                                <li><p>Số lượng : 1</p></li>
                            </ul>
                            <div class="delivery">
                                <p>Giá: 50.000.000 VNĐ</p>
                                <span>Không có khuyến mãi</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="cart-header2">
                    <div class="close-checkout-2"> </div>
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src="~/images/m4.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="cart-item-info">
                            <h3><a href="#">Apple Watch (Gen 2)</a><span>Model No: 3578</span></h3>
                            <ul class="qty">
                                <li><p>Kích cỡ : 5</p></li>
                                <li><p>Số lượng : 1</p></li>
                            </ul>
                            <div class="delivery">
                                <p>Giá : 30.000.000 VNĐ</p>
                                <span>Tặng kèm hộp</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cart-total">
                <a class="continue" href="#">Tiếp tục mua sắm</a>
                <div class="price-details">
                    <h3>Chi tiết hóa đơn</h3>
                    <span>Tổng cộng</span>
                    <span class="total1">350.000.000 VNĐ</span>
                    <span>Discount</span>
                    <span class="total1">---</span>
                    <span>Phí dịch vụ giao hàng</span>
                    <span class="total1">00.00 VNĐ</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price">
                    <li class="last_price"> <h4>Tổng cộng</h4></li>
                    <li class="last_price"><span>80.000.000 VNĐ</span></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                <a class="order" href="#">Thanh toán</a>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
