<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
            Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      @Styles.Render("~/Content/css")
</head>
<body>
    <div class="header-top-w3layouts">
        <div class="container">
            <div class="row">
                <div class="col-md-6 phone-w3l">
                    <div class="phone-shop">+0901328995</div>
                </div>
                <div class="col-md-6 phone-w3l">
                    <div class="user-login">Login</div>
                    <div class="user-cart">
                        <div class="cart">
                            <form action="#" method="post" class="last">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="display" value="1" />
                                <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>  My cart</button>
                            </form>
                        </div>
                    </div>
                    <div class="user-numproduct">0</div>
                </div>
            </div>
    
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom-w3ls">
        <div class="container">
            <div class="col-md-7 navigation-agileits">
                <nav class="navbar navbar-default">
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            <li class=" active"><a href="index.html" class="hyper "><span>Home</span></a></li>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Clothing<b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">

                                                <li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's Clothing</a></li>
                                                <li><a href="men.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's Clothing</a></li>
                                                <li><a href="kids.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Kid's Wear</a></li>
                                                <li><a href="party.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Party Wear</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="casuals.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Casuals</a></li>
                                                <li><a href="night.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Night Wear</a></li>
                                                <li><a href="formals.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Formals</a></li>
                                                <li><a href="inner.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Inner Wear</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-4 w3l">
                                            <a href="women.html"><img src="images/menu1.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Personal Care <b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi multi1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Jewellery </a></li>
                                                <li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Watches</a></li>
                                                <li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                                <li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Perfumes</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-4">

                                            <ul class="multi-column-dropdown">
                                                <li><a href="haircare.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                                <li><a href="shoes.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shoes</a></li>
                                                <li><a href="handbags.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Handbags</a></li>
                                                <li><a href="skincare.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-4 w3l">
                                            <a href="jewellery.html"><img src="images/menu2.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="about.html" class="hyper"><span>About</span></a></li>
                            <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-4 search-agileinfo">
                <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Search for a Product..." required="">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="banner-agile">
        <div class="container">
            <h2>WELCOME TO</h2>
            <h3>FASHION <span>CLUB</span></h3>
            <p>Suspendisse sed tellus id libero pretium interdum. Suspendisse potenti. Quisque consectetur elit sit amet vehicula tristique. </p>
            <a href="about.html">Read More</a>
        </div>
    </div>
    <div class="banner-bootom-w3-agileits w3-centered">
        <div class="container">
            <div class="col-md-3 bb-grids bb-left-agileits-w3layouts">
                <a href="women.html">
                   <img src="~/images/back2.jpg"> 
                    <span>
                        <h1>The Mission</h1>
                        <p>NEW FEATURES & FUNCTIONS</p>
                        <p>FOR ANDROID & IPHONE</p>
                    </span>
                </a>
            </div>
            <div class="col-md-3 bb-grids bb-left-agileits-w3layouts">
                <a href="women.html">
                    <img src="~/images/back3.jpg"> 
                    <span>
                        <h1>Last Lane</h1>
                        <p>THE SPEEDSTER II COLLECTION, FEATURING</p>
                        <p>THE SENTRY CHRONO</p>
                    </span>
                </a>
            </div>
            <div class="col-md-3 bb-grids bb-left-agileits-w3layouts">
                <a href="women.html">
                    <img src="~/images/back4.jpg"> 
                     <span><h1>In Living Color</h1>
                    <p>FOR THE STYLE MAVEN WHO LIKES TO </p>
                    <p>SURPRISE</p></span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="top-products">
        <div class="container">
            <h3>Top Products</h3>
            <div class="sap_tabs">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item"><span>Men's</span></li>
                        <li class="resp-tab-item"><span>Women</span></li>
                        <li class="resp-tab-item"><span>Handbags</span></li>
                        <li class="resp-tab-item"><span>Cosmetics</span></li>
                    </ul>
                    <div class="clearfix"> </div>
                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content">
                            <div class="col-md-2 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product1.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Formal shoes" />
                                                <input type="hidden" name="amount" value="220.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a> 
                                <h4>MISSON, 48<span>MM</span></h4>
                                <h5>$220.00 | 3 Colors</h5>
                            </div>
                            <div class="col-md-2 top-product-grids tp2">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product2.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Formal shirt" />
                                                <input type="hidden" name="amount" value="190.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>ULTRATIDE, 45<span>MM</span></h4>
                                <h5>$300.00 | 10 Colors</h5>
                            </div>
                            <div class="col-md-2 top-product-grids tp3">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product3.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Blazer" />
                                                <input type="hidden" name="amount" value="160.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>TIME LETTER ACETATE, 40<span>MM</span></h4>
                                <h5>$150.00 | 22 Colors</h5>
                            </div>
                            <div class="col-md-2 top-product-grids tp4">
                                <a href="single.html">
                                    <div class="product-img">
                                        <img src="~/images/product4.jpg" alt="" />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="Casual shoes" />
                                                <input type="hidden" name="amount" value="250.00" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a> 
                                <h4>KENSINGTION, 37<span>MM</span></h4>
                                <h5>$175.00 | 3 Colos</h5>
                            </div>
                            <div class="clearfix"></div>
                            <div class="top-products-set2">
                                <div class="col-md-2 top-product-grids tp5">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="~/images/product4.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Inner wear" />
                                                    <input type="hidden" name="amount" value="50.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <h4>KENSINGTION, 37<span>MM</span></h4>
                                    <h5>$175.00 | 3 Colos</h5>
                                </div>
                                <div class="col-md-2 top-product-grids tp6">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="~/images/product3.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Shoes" />
                                                    <input type="hidden" name="amount" value="150.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <h4>TIME LETTER ACETATE, 40<span>MM</span></h4>
                                    <h5>$150.00 | 22 Colors</h5>
                                </div>
                                <div class="col-md-2 top-product-grids tp7">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="~/images/product2.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Formal shirt" />
                                                    <input type="hidden" name="amount" value="100.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <h4>MISSON, 48<span>MM</span></h4>
                                    <h5>$220.00 | 3 Colors</h5>
                                </div>
                                <div class="col-md-2 top-product-grids tp4">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="~/images/product1.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Watch" />
                                                    <input type="hidden" name="amount" value="200.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <h4>MISSON, 48<span>MM</span></h4>
                                    <h5>$220.00 | 3 Colors</h5>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fandt">
        <div class="container">
            <div class="col-md-6 features">
                <h3>Our Services</h3>
                <div class="support">
                    <div class="col-md-2 ficon hvr-rectangle-out">
                        <i class="fa fa-user " aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 ftext">
                        <h4>24/7 online free support</h4>
                        <p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="shipping">
                    <div class="col-md-2 ficon hvr-rectangle-out">
                        <i class="fa fa-bus" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 ftext">
                        <h4>Free shipping</h4>
                        <p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="money-back">
                    <div class="col-md-2 ficon hvr-rectangle-out">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 ftext">
                        <h4>100% money back</h4>
                        <p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 testimonials">
                <div class="test-inner">
                    <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="wmuSliderWrapper">
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                                    <p>Nam elementum magna id nibh pretium suscipit varius tortor. Phasellus in lorem sed massa consectetur fermentum. Praesent pellentesque sapien euismod.</p>
                                    <h4># Andrew</h4>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                                    <p>Morbi semper, risus dignissim sagittis iaculis, diam est ornare neque, accumsan risus tortor at est. Vivamus auctor quis lacus sed interdum celerisque.</p>
                                    <h4># Lucy</h4>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                                    <p>Fusce non cursus quam, in hendrerit sem. Nam nunc dui, venenatis vitae porta sed, sagittis id nisl. Pellentesque celerisque  eget ullamcorper vehicula. </p>
                                    <h4># Martina</h4>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    

    <div class="top-brands">
        <div class="container">
            <h3>Top Brands</h3>
            <div class="sliderfig">
                <ul id="flexiselDemo1">
                    <li>
                        <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/product1.jpg" alt=" " class="img-responsive" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //top-brands -->
    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="col-md-6 w3agile_newsletter_left">
                <h3>Newsletter</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
            </div>
            <div class="col-md-6 w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="Subscribe" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //newsletter -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grids fgd1">
                <a href="index.html"><img src="~/images/product1.jpg" alt=" " /><h3>FASHION<span>CLUB</span></h3></a>
                <ul>
                    <li>1234k Avenue, 4th block,</li>
                    <li>New York City.</li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd2">
                <h4>Information</h4>
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="icons.html">Web Icons</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="faq.html">FAQ's</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd3">
                <h4>Shop</h4>
                <ul>
                    <li><a href="jewellery.html">Jewellery</a></li>
                    <li><a href="cosmetics.html">Cosmetics</a></li>
                    <li><a href="Shoes.html">Shoes</a></li>
                    <li><a href="deos.html">Deos</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd4">
                <h4>My Account</h4>
                <ul>

                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="recommended.html">Recommended </a></li>
                    <li><a href="payment.html">Payments</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">© 2016 Fashion Club . All rights reserved | Design by Pixel Shop</a></p>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
