@using PixelShop.Models
@model PixelShop.Models.DONHANG

@Styles.Render("~/Content/css-payment")



<div class="main-payment-success">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 content-payment-success">
            <h3>ĐẶT HÀNG THÀNH CÔNG</h3>
            <p>Đơn hàng <a href="#">@Model.MaDH</a> đang được xử lý và sẽ giao đến bạn trong thời gian sớm nhất</p>
            
            <p>Cảm ơn đã sử dụng dịch vụ của Pixel</p>
            <a href="@Url.Action("Index", "Home")"><p>Tiếp tục mua sắm</p></a>
            <img src="~/images/trucking.png" />
        </div>
        <div class="col-md-4"></div>
    </div>
    



</div>

