@Styles.Render("~/Content/css-payment")



<div class="main-payment-success">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 content-payment-success">
            <h3>ĐẶT HÀNG THÀNH CÔNG</h3>
            <p>Đơn hàng <a href="#"> DH001</a> sẽ được giao đến bạn trong thời gian sớm nhất</p>
            <p>Cảm ơn đã sử dụng dịch vụ của Pixel</p>
            <img src="~/images/complete.jpg" />
        </div>
        <div class="col-md-4"></div>
    </div>
    



</div>

